<!-- Button LINKEDIN-->
<table>
  <tr>
    <td>
<div class="form-group">
  <label class="col-md-4 control-label" for="Connect_w_linkedin"></label>
  <div class="col-md-4">
    <button id="Connect_w_linkedin" name="Connect_w_linkedin" class="btn btn-default">Linkedin</button>
  </div>
</div>
</td>
<!-- Button GOOGLE-->
<td>
<div class="form-group">
  <label class="col-md-4 control-label" for="connect_w_google"></label>
  <div class="col-md-4">
    <button id="connect_w_google" name="connect_w_google" class="btn btn-default">Google</button>
  </div>
</div>
</td>
</tr>
<tr>

<!-- Button TWITTER-->
<td>
<div class="form-group">
  <label class="col-md-4 control-label" for="connect_w_twitter"></label>
  <div class="col-md-4">
    <button id="connect_w_twitter" name="connect_w_twitter" class="btn btn-default">twitter</button>
  </div>
</div>
</td>
<!-- Button FACEBOOK-->
<td>
<div class="form-group">
  <label class="col-md-4 control-label" for="connect_w_facebook"></label>
  <div class="col-md-4">
    <button id="connect_w_facebook" name="connect_w_facebook" class="btn btn-default">Facebook</button>
  </div>
</div>
</td>
</tr>
</table>
