<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>LOGIN</legend>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password Input</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" placeholder="placeholder" class="form-control input-md" type="password">
    <span class="help-block">help</span>
  </div>
</div>

</fieldset>
</form>


<!-- Appended checkbox -->
<div class="form-group">
  <label class="col-md-4 control-label" for="stay_connect_cookies">Se souvenir</label>
  <div class="col-md-5">
    <div class="input-group">
      <input id="stay_connect_cookies" name="stay_connect_cookies" class="form-control" placeholder="" type="text">
	        <span class="input-group-addon">     
          <input type="checkbox">     
      </span>
    </div>
    <p class="help-block">help</p>
  </div>
</div>

